/* google font */

.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    max-width: 1320px;
      margin:auto;
}


/* banner  */
.banner-section{
    background-image: url(../images/Banner\ Image.png);
    height: 600px;
    border-radius: 16px;
    margin-top: 50px;
    overflow: hidden;
   
   

}

.banner-title{
     text-align: center;
      justify-content: center;
     padding-top: 177px;
     padding-bottom: 177px;
     padding-right: 344px;
     padding-left: 344px;
     background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
}

.banner-title p{
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    
   
}

.banner-title h2{
    color: white;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;

}

.discount{
    text-align: center;
    justify-content: center;
    margin-top: 120px;
}

.discount h1{
    color: #FF0000;
    font-size: 88px;
    font-size: 700;
    margin-bottom: 48px;
}

.discount p{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount h2{
    color: #070211;
    font-size: 52px;
    font-weight: 700px;
    margin-bottom: 48px;
}

.new-year-image{
    width: 802.9px;
    height: 500px;
}

.vector{
    background-image: url(../images/Vectorrr.png);
    height: 600px;
    display: flex;
    justify-content: space-between;
    overflow: hidden; 
    border-radius: 16px;
    gap: 40px;
    margin-top: 120px;
}

.vector-title{
    color: white;
    /* background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%); */
    padding-top: 126px;
    padding-left: 126px;
    

}

.vector-banner{
    width: 349.16px;
    height: 464.65px;
    padding-right: 145px;


}

.vector h1{
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
    text-align: left;
    gap: 94px;
    padding-right: 10px;
}

.midnight{
    display: block;
    padding-top: 10px;
}


.vector p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    color: #FFFFFFCC;
}

.vector h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 10px;

}

.plan{
   border-radius: 16px;
   background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
   text-align: center;
   padding-top: 100px;
   box-sizing: border-box;
   margin: auto;
   height: 482px;
   margin-top: 120px;
}

.plan-text{
    color: #FF0000;
    align-items: center;
    
}

.plan-text h3{
    font-size: 32px;
    font-weight: 600;
    height: 272px;

}

.font{
    margin-bottom: 10px;
}

.font2{
    margin-bottom: 10px;
}

.font3{
    margin-bottom: 10px;
}

.vector-btn{
    background-color: #FF0000;
    color: white;
    margin-top: 40px;
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 10px;

}

.new-best-offer{
    display: flex;
    gap: 70px;
    justify-content: space-around;
}

.coming-soon-title h4{
     font-size: 24px;
     font-weight: 500;
     margin-bottom: 16px;
      color: #FF0000;
}

.coming-soon-title h2{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 22px;
    
}

.coming-soon-title p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #07021199;
    width: 393px;
}

.offer-image img{
    width: 364.08px;
    height: 364.08px;
    border: 30px solid red;
    border-radius: 50%;
    display: block;
}

.coming-soon-title2 h2{
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 16px;
}

.coming-soon-title2 p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 46px;

}

.holiday-sale{
    margin-top: 120px;
    text-align: center;
}

.holiday-sale h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-sale h1{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.lal{
    color: rgb(255, 0, 0);
}

.holiday-sale p{
    font-size: 20px;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
    padding-right: 126px;
    padding-left: 126px;
}


.z-index-topic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    position: relative;
}

.magic{
    bottom: -200px;
    z-index: 1;
}

.portfilo{
    margin-top: 120px;

}

.portfilo-title h5{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}

.portfilo-title h3{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.portfilo-title p{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 48px;
    padding-right: 564px;
}

.portfilo-image{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.subscribe{
    text-align: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    height: 616px;
    padding: 120px;


}



.subscribe img{
    width: 128.17px;
    height: 120px;
    margin-bottom: 46px;
}

.subscribe h3{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.subscribe p{
    font-size: 20px;
    font-weight: 400;
    color:rgba(7, 2, 17, 0.6);
    margin-bottom: 48px;
}
.info{
    
    
    
    
}
.email{
    border: none;
    color: rgba(7, 2, 17, 0.3);
    border-radius: 50px;
    background: rgb(255, 255, 255);
    width: 648px;
    height: 72px;
    font-size: 18px;
    text-align: center;
    padding:15px, 154px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    left: 6px;
    




}

.subscribe-btn{
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    height: 74px;
    width: 210px;
    border: none;
    font-size: 20px;
    position: relative;
    z-index: 1;
    padding: 15px 0;

}

.footer {
  background-color: #0b021b;
  color: white;
  padding: 40px;
  margin-top: 120px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-contact p,
.footer-address p {
  margin: 5px 0;
}

hr {
  border: 0.5px solid #1c1b1ba1;
  margin: 20px 0;
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 20%;
  margin-bottom: 20px;
  gap: 0;

}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 0px;
  margin: 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
}

