/* google font */

.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    max-width: 1320px;
      margin:auto;
}


/* banner  */
.banner-section{
    background-image: url(../images/Banner\ Image.png);
    height: 600px;
    border-radius: 16px;
    margin-top: 50px;
    overflow: hidden;
   
   

}

.banner-title{
     text-align: center;
      justify-content: center;
     padding-top: 177px;
     padding-bottom: 177px;
     padding-right: 344px;
     padding-left: 344px;
     background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
}

.banner-title p{
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    
   
}

.banner-title h2{
    color: white;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;

}

.discount{
    text-align: center;
    justify-content: center;
    margin-top: 120px;
}

.discount h1{
    color: #FF0000;
    font-size: 88px;
    font-size: 700;
    margin-bottom: 48px;
}

.discount p{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount h2{
    color: #070211;
    font-size: 52px;
    font-weight: 700px;
    margin-bottom: 48px;
}

.new-year-image{
    width: 802.9px;
    height: 500px;
}

.vector{
    background-image: url(../images/Vectorrr.png);
    height: 600px;
    display: flex;
    justify-content: space-between;
    overflow: hidden; 
    border-radius: 16px;
    gap: 40px;
    margin-top: 120px;
}

.vector-title{
    color: white;
    /* background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%); */
    padding-top: 126px;
    padding-left: 126px;
    

}

.vector-banner{
    width: 349.16px;
    height: 464.65px;
    padding-right: 145px;


}

.vector h1{
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
    text-align: left;
    gap: 94px;
    padding-right: 10px;
}

.midnight{
    display: block;
    padding-top: 10px;
}


.vector p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    color: #FFFFFFCC;
}

.vector h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 10px;

}

.plan{
   border-radius: 16px;
   background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
   text-align: center;
   padding-top: 100px;
   box-sizing: border-box;
   margin: auto;
   height: 482px;
   margin-top: 120px;
}

.plan-text{
    color: #FF0000;
    align-items: center;
    
}

.plan-text h3{
    font-size: 32px;
    font-weight: 600;
    height: 272px;

}

.font{
    margin-bottom: 10px;
}

.font2{
    margin-bottom: 10px;
}

.font3{
    margin-bottom: 10px;
}

.vector-btn{
    background-color: #FF0000;
    color: white;
    margin-top: 40px;
    width: 167px;
    height: 56px;
    border: none;
    border-radius: 10px;

}

.new-best-offer{
    display: flex;
    gap: 70px;
    justify-content: space-between;
}

.coming-soon-title h4{
     font-size: 24px;
     font-weight: 500;
     margin-bottom: 16px;
      color: #FF0000;
}

.coming-soon-title h2{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 22px;
    
}

.coming-soon-title p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #07021199;
    width: 393px;
}


.offer-image{
     width: 250px;
      height: 250px;
      background-color: red; 
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-top: 120px;
}
.background2{
      width: 220px;
      height: 220px;
      background-color: white;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      overflow: hidden;
}

.offer-image img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
    padding: 25px 25px 20px 20px;
}